<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Prism: Life Tracker.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FFB1E1CC5ED3668BE035336E76020B70076A6854</string>
				<key>dateExpires</key>
				<string>4/20/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>18.0.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFB1E1CC5ED3668BE035336E76020B70076A6854</string>
						<key>dateExpires</key>
						<string>4/20/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8DX6H6VXF</string>
						<key>name</key>
						<string>Tanagarn Ploychinda</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>18.0.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFB1E1CC5ED3668BE035336E76020B70076A6854</string>
						<key>dateExpires</key>
						<string>4/20/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8DX6H6VXF</string>
						<key>name</key>
						<string>Tanagarn Ploychinda</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>18.0.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFB1E1CC5ED3668BE035336E76020B70076A6854</string>
						<key>dateExpires</key>
						<string>4/20/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8DX6H6VXF</string>
						<key>name</key>
						<string>Tanagarn Ploychinda</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>18.0.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFB1E1CC5ED3668BE035336E76020B70076A6854</string>
						<key>dateExpires</key>
						<string>4/20/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8DX6H6VXF</string>
						<key>name</key>
						<string>Tanagarn Ploychinda</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFB1E1CC5ED3668BE035336E76020B70076A6854</string>
						<key>dateExpires</key>
						<string>4/20/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8DX6H6VXF</string>
						<key>name</key>
						<string>Tanagarn Ploychinda</string>
					</dict>
					<key>versionNumber</key>
					<string>12.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFB1E1CC5ED3668BE035336E76020B70076A6854</string>
						<key>dateExpires</key>
						<string>4/20/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8DX6H6VXF</string>
						<key>name</key>
						<string>Tanagarn Ploychinda</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFB1E1CC5ED3668BE035336E76020B70076A6854</string>
						<key>dateExpires</key>
						<string>4/20/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8DX6H6VXF</string>
						<key>name</key>
						<string>Tanagarn Ploychinda</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFB1E1CC5ED3668BE035336E76020B70076A6854</string>
						<key>dateExpires</key>
						<string>4/20/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8DX6H6VXF</string>
						<key>name</key>
						<string>Tanagarn Ploychinda</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFB1E1CC5ED3668BE035336E76020B70076A6854</string>
						<key>dateExpires</key>
						<string>4/20/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8DX6H6VXF</string>
						<key>name</key>
						<string>Tanagarn Ploychinda</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D8DX6H6VXF.com.tanagarn.Prism</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.tanagarn.Prism</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>D8DX6H6VXF</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Prism: Life Tracker.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>61461b58-ab9f-48d9-9753-43186b373ce1</string>
				<key>dateExpires</key>
				<string>4/20/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.tanagarn.Prism</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D8DX6H6VXF</string>
				<key>name</key>
				<string>Tanagarn Ploychinda</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
